@charset "utf-8";

html{
	background-color: #000;
}

body {
  font-family: Arial,Verdana, sans-serif;
  font-size: 1em;
  background: #000000;
  color: #ffffff;   
  margin: 0;
  padding: 0;
  /*width: 520px; old facebook*/
  width: 810px;
}

h1 {
  color: white;
  margin: 0;
  padding: 0;
}


h2 {
  font-family:  Arial, sans-serif;
  font-size: 108%;
  color: white;
  margin: 0;
  padding: 0;  
}


img {
  border-style: none;
  padding: 0;
  margin: 0;
  display: block;
}

ol {
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  padding: 0;
  margin: 0;
}
.logo{
	padding-top: 35px;
clear: both;
}

.footer {

}
#wrapper{
	width: 326px;
	margin: 0 auto;
}
.content{
  background: url(../img/body_bg.gif) repeat-x #FF8B38;
}

a {
  text-decoration: underline;  
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none;
  margin: 10px 18px 0 0;  
}

.hidden {
  display: none;
}

/* Lightbox*/
#lightbox {
  background-color: #000000;
  padding-bottom: 10px;
}
#lightbox h1{
  padding: 20px;
}

/* Notification */
.success {
  display: none;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  height: 279px;
	padding-top: 188px;
}

.sending {
  display: none;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-weight: bold;  
  height: 279px;
	padding-top: 188px;
}





/**
 *
 *  CSS for the Form
 *
 */

.inlinelabel label{
  position: absolute;
  left: -100px;
  color: white;
  top: 12px;
}
.nolabel label{
  display: none;
}
.toplabel label{
  
}
.nolabel input[type=text], .nolabel textarea{
  text-align:center;
  padding-left:0;
}




input[type=text] {
  width: 100%;
  height: 30px;
  color: #5D5D5D;
  text-transform: uppercase;
  font-size: 78%;
  border: none;
  padding-left: 8px;
}

textarea  {
  width: 100%;
  color: #5D5D5D;
  text-transform: uppercase;
  font-size: 78%;	
  padding-top: 10px;
  padding-left: 8px;
  border: none;
  display: block;
}

input[type=checkbox] {
  margin-right: 5px;
}

label{
  color:#fff;
  text-transform: uppercase;
  font-size: 78%;
}

.styled-select select {
   background: transparent;
   width: 110%;
   padding: 5px;
   font-size: 16px;
   text-transform: uppercase;
   font-size: 78%;
   border:none;
   height: 30px;
   color: #5D5D5D;
}

.styled-select {
  height: 30px;
  overflow: hidden;
  background: url(../img/arrow.png) no-repeat right center white;
}

.check {
  font-size: 11px;
  text-transform: uppercase;
}
.checks{
	display: inline-block;
  vertical-align: top;
  width: 276px;
}
.button {
  margin: 20px 108px;
}

.form-row {
  margin-bottom: 5px;
  position: relative; 
}

.form-fields {
  padding: 10px 0;
}

/* Error messages */
.red {
  color: red;
}

.err-msg {
  display: block;
  font-size: 11px;
  text-align: left;
  padding: 5px;
  background-color: #333;
  border-left: 6px solid red;
  color: white;
}

